{% extends 'base.html' %}

{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_staff == True %}
		<!-- show the list of all users if user is staff/admin -->
		<small class="bg-green">user is authenticated</small> <br>
			Welcome back, <b>{{request.user.staff_id}}!</b> >.<, <br>
			<hr>
			<h3>Users List</h3>
			{% for user in users %}
				<a href="{% url 'profile' user.staff_id %}">{{user.staff_id}}</a> <hr>
			{% endfor %}
		{% else %}
			<!-- This is already working so, good job! -->
			<h3>Sorry, you do not have permissions to view this page.</h3>
			<small><a href="/">Go back</a></small>
		{% endif %}
	{% endif %}
{% endblock %}

