{% extends "base.html" %}

{% block content %}

testing filters: <br>
<h4>advisors list</h4>
{% for adv in advisors %}
	{% if adv.last_name and adv.first_name %}
		<a href="{% url 'profile' adv.staff_id %}"> {{adv.last_name}}, {{adv.first_name}}</a>
		<br>	
	{% else %}
		<a href="{% url 'profile' adv.staff_id %}">{{adv.user.staff_id}}</a>
		<small>( <-- this user has no profile yet so, staff ID!)</small>
	{% endif %}
{% endfor %}
<hr>

<h4>team leaders list</h4>
{% for tl in tls %}
<a href="{% url 'profile' tl.staff_id %}"> {{tl.last_name}}, {{tl.first_name}}</a>
{% endfor %}
<hr>

<h4>operations managers list</h4>
{% for om in oms %}
<a href="{% url 'profile' om.staff_id %}">{{om.last_name}}, {{om.first_name}}</a>
{% endfor %}
<hr>
<h3>the current user's instances used:</h3>
{% if instances_used_this_year and instances_used_this_quarter %}
    <p>Instances used this year: {{ instances_used_this_year }}</p>
    <p>Instances used this quarter: {{ instances_used_this_quarter }}</p>
{% else %}
    <p>No leave counter data available for this user.</p>
{% endif %}
<div class="card">
	leave counter per employee:
	<small>this displays counter only for employees who already have approved leaves.
	Apply filters to display all employees, leaves, statuses and counters </small><br>
	{% for leave_counter in adv_all_leaves %}
	    <p><a href="{% url 'profile' leave_counter.employee.staff_id %}">{{ leave_counter.employee.staff_id }}</a>: This Quarter: {{ leave_counter.instances_used_this_quarter }},
	    This Year (total):{{ leave_counter.instances_used_this_year }}</p>
	{% endfor %}
</div>

<div>SERVER TIME: {{server_time}} </div>
{% endblock content %}